<nav class="navbar navbar-expand-lg position-fixed w-100 bg-light mb-5">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink=""><i class="fa-solid fa-cart-plus fs-4"></i><span class="text-primary fw-bolder ms-2 fs-4">Drop Cart</span></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav ms-auto mt-2 mb-lg-0">
        <li class="nav-item">
            <input type="search" name="" id="" class="form-control me-2" placeholder="Search all Products Here !!" style="width: 400px;">

        </li>
        <li>
            <a  routerLink="user/login" class="btn"><i class="fa-solid fa-user"></i>
    Login
            </a>
        </li>
        
      </ul>
    </div>
  </div>
</nav>